<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/aui.css"/>
    <style>
        div.aui-form{
            padding: 0 6px;
        }
        input{
            color: #8f8f94;
        }
    </style>
</head>
<body>
<header class="aui-bar aui-bar-nav aui-bar-danger">
    <a class="aui-pull-left">
        <span class="aui-iconfont aui-icon-left" onclick="api.closeWin();"></span>
    </a>

    <div class="aui-title">添加倒计时</div>
    <a class="aui-pull-right">
        <span class="aui-iconfont aui-icon-check" onclick="AddCountdownEvent();"></span>
    </a>
</header>
<div class="aui-content">
    <div class="aui-form">
        <div class="aui-input-row">
            <label class="aui-input-addon">标题</label>
            <input id="title" type="text" class="aui-input aui-text-right" placeholder="标题"/>
        </div>
        <div class="aui-input-row">
            <span class="aui-input-addon">日期</span>
            <input id="date" type="text" readonly="readonly" class="aui-input aui-text-right" placeholder="日期" onclick="OpenDatePicker();"/>
        </div>
        <div class="aui-input-row">
            <span class="aui-input-addon">时间</span>
            <input id="time" type="text"  readonly="readonly" class="aui-input aui-text-right" placeholder="时间" onclick="OpenTimePicker();"/>
        </div>
        <div class="aui-input-row">
            <span class="aui-input-addon">地点</span>
            <input id="site" type="text" class="aui-input aui-text-right" placeholder="地点"/>
        </div>
        <!--<div class="aui-input-row">-->
            <!--<span class="aui-input-addon" style="padding: 10px 4px;">是否提醒</span>-->
            <!--<input id="isRemind" type="checkbox" class="aui-switch aui-switch-success aui-pull-right"/>-->
        <!--</div>-->
    </div>
</div>
</body>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/utils.js"></script>
<script type="text/javascript">
    var date = new Date();
    apiready = function () {
        $api.fixStatusBar($api.dom('header'));
        UpdateTime();
    };

    function UpdateTime(){
        $api.val($api.dom('#date'),date.pattern("yyyy年MM月dd日"));
        $api.val($api.dom('#time'),date.pattern("HH:mm"));
    }

    function OpenDatePicker() {
        api.openPicker({
            type: 'date',
            date: date.pattern("yyyy-MM-dd"),
            title: '选择日期'
        }, function (ret, err) {
            if (ret) {
                var year = ret.year;
                var month = ret.month;
                var day = ret.day;

                date.setFullYear(year,month - 1,day);
                UpdateTime();
            }
        });
    }
    function OpenTimePicker() {
        api.openPicker({
            type: 'time',
            date: date.pattern("HH:mm"),
            title: '选择时间'
        }, function (ret, err) {
            if (ret) {
                var hour = ret.hour;
                var minute = ret.minute;
                date.setHours(hour, minute,0,0);
                UpdateTime();
            }
        });
    }

    function AddCountdownEvent(){
        var title = $api.val($api.dom('#title'));
        var time = date.getTime();
        var site = $api.val($api.dom('#site')) || '';
        if(!title || title == ''){
            api.alert({msg:'标题不能为空'});
            return;
        }
        var event = {
            title:title,
            time: time,
            site:site
        };

        //添加事件到localStorage
        var countdown = $api.getStorage('countdown');
        if (!countdown) {
            countdown = [];
        }
        for (var i = 0; i < countdown.length; i++) {
            var item = countdown[i];
            if (item.title == event.title) {
                api.alert({msg:'已经添加过同样的事件了'});
                return;
            }
        }
        countdown.push(event);
        $api.setStorage('countdown', countdown);

        api.execScript({
            name: 'countdown',
            script: 'UpdateCountdownList();'
        });
        api.closeWin();
    }
</script>
</html>